*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	min-height: 100%;
}

body {
       font-family: Arial, sans-serif;
       font-size: 1.2rem;
       min-height: 100%;
     }


.corpus > *{
	box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
	border-radius: 4px;
	padding: 10px;

}

.corpus{
	display: grid;
	gap: 15px;
	grid-template:
		"sidebar"
		"main"
		"familia"
		"carrera"
		"footer";
}

.sidebar{
	text-align: center;
	grid-area: sidebar;
}

.main{
	grid-area: main;
}

.familia{
	grid-area: familia;
}

.carrera{
	grid-area: carrera;
}

.footer{
	grid-area: footer;
}


@media (min-width: 600px){
	.corpus{
		grid-template-areas:
		"sidebar 	main"
		"sidebar 	familia"
		"carrera 	carrera"
		"footer 	footer";
		grid-template-columns: 325px auto;
		grid-auto-rows: auto 100px ;
	}
}

@media (min-width: 900px){
	.corpus{
		grid-template-areas:
		"sidebar 	main"
		"sidebar 	familia"
		"sidebar 	carrera"
		"footer 	footer";
		grid-template-columns: 350px auto;
		grid-auto-rows: 100px 100px ;
	}
}

.Formulario{ 
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: rgba(255,255,255,0.7);

}


  input[type="text"],
        input[type="tel"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
button[type="submit"] {
     background-color: #007bff;
     color: #fff;
     border: none;
     padding: 10px 20px;
     border-radius: 5px;
     cursor: pointer;
 font-size: 16px;
}
   
 button[type="submit"]:hover {
            background-color: #0056b3;
 }
